_wandb:
    value:
        cli_version: 0.19.9
        m: []
        python_version: 3.11.11
        t:
            "1":
                - 5
                - 53
                - 55
            "2":
                - 5
                - 6
                - 8
                - 53
                - 55
            "3":
                - 13
                - 23
                - 55
            "4": 3.11.11
            "5": 0.19.9
            "8":
                - 5
            "12": 0.19.9
            "13": darwin-arm64
